{#
* available vars:
* modal_id      "modal-media-40-0-thumbnail"
* linked_item   <img .. >
* video_url     "https://youtu.be/IjFl0YR0rng"
* iframe_src    /media/oembed?url=https%3A//youtu.be/IjFl0YR0rng&amp;max_width=0&amp;max_height=0&amp;hash=...
#}

<div data-fancybox="gallery-image" data-src="{{ video_url }}">
  <img src="{{ item_uri }}" alt="{{ item_alt }}">
</div>
